<div class="container">
  <div style="float: right;">
    <input class="form-control" name="busqueda" type="text" placeholder="Buscar" name="textoBuscar" [(ngModel)]="textoBuscar"/>
  </div>
  <div style="float:left">
    <h3>Listado de productos</h3>
  </div>
  <div style="float: right; margin-right: 20px; margin-bottom: 40px;" class="row">
    <button class="btn btn-primary btn-sm" routerLink="/productos-form" >
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
</div>
<div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <th>Imagen</th>
        <th>ID</th>
        <th>Nombre</th>
        <!-- <th>Sku</th> -->
        <th>Descrip</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Creacion</th>
        <th>Categoria</th>
        <th>Acción</th>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos | filtroProductos: textoBuscar">
        <td> <img [src]="'http://localhost:7777/' + producto.imagen" width="10%" height="10%"></td>
          <td>{{ producto.idProducto }}</td>
          <td> {{ producto.nombre }}</td>
          <!-- <td> {{ producto.sku }}</td> -->
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.stock }}</td>
          <td>{{ producto.createdAt }}</td>
          <td>{{ producto.nombreCategoria }}</td>
          <td>
            <i style="color:teal" [routerLink]="['/productos', producto.idProducto]" class="far fa-edit"></i>
            <i style="color: red; margin-left: 5px;" (click)="borrarProducto(producto.idProducto)" class="far fa-trash-alt"></i>
          </td>
        </tr>
      </tbody>
    </table>
   
  </div>