
<div class="container">
  <div style="float: right;">
    <input class="form-control" name="busqueda" type="text" placeholder="Buscar" name="textoBuscar" [(ngModel)]="textoBuscar"/>
  </div>
    <div style="float:left">
      <h3>Listado de categorias</h3>
    </div>
  
    <div style="float: right; margin-right: 20px; margin-bottom: 40px;" class="row">
      <button class="btn btn-primary btn-sm" routerLink="/categorias-form" >
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Acción</th>
        </thead>
        <tbody>
          <tr *ngFor="let categoria of categorias | filtroCategorias: textoBuscar">
            <!-- <tr *ngFor="let categoria of categorias"> -->
                <td>{{ categoria.idCategoria }}</td>
                <td> {{ categoria.nombre }}</td>
                <td> {{ categoria.descripcion }}</td>
            <td>
                <i style="color:teal" [routerLink]="['/categorias', categoria.idCategoria]" class="far fa-edit"></i>
                <i style="color: red; margin-left: 10px;" (click)="borrarCategoria(categoria.idCategoria)" class="far fa-trash-alt"></i>
            </td>
          </tr>
        </tbody>
      </table>
     
    </div>