<br>
<button class="btn btn-primary btn-sm" routerLink="/productos">
    <i class="fa-solid fa-arrow-left"></i>
</button>

<div class="col-md-4 offset-md-4">
    <div class="card">
        <h3 style="text-align: center;">{{ update ? 'Editar' : 'Nuevo'}}</h3>
        <div class="card-body">
            <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
                <label for="">Sku</label>
                <div class="form-group">
                    <input name="sku" type="text" [(ngModel)]="producto.sku" class="form-control" autofocus/>
                </div> <br>
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" name="nombre" [(ngModel)]="producto.nombre" class="form-control">
                </div>
                <br>
                <div class="form-group">
                    <label for="">Descripción</label>
                    <input name="descripcion" [(ngModel)]="producto.descripcion" class="form-control" />
                </div>
                <br>
                <div class="form-group">
                    <label for="">Precio</label>
                    <input name="precio" type="number" [(ngModel)]="producto.precio" class="form-control" />
                </div>
                <br>
                <div class="form-group">
                    <label for="">Stock</label>
                    <input name="stock" type="number" [(ngModel)]="producto.stock" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="">Categoria</label>
                    <select class="form-control" (change)="selectCategoria($event)">
                        <option [defaultSelected]="true" [value]="1">-- Selecciona categoria</option>
                        <option [(ngModel)]="producto.nombreCategoria" name="idCategoria" *ngFor="let categoria of categorias" [value]="categoria.idCategoria">{{categoria.nombre}}</option>
                    </select>
                </div>
                <br>
               <div class="form-group">
                    <label for="">Imagen</label>
                    <input type="file" class="d-none" (change)="onProductoSelected($event)" #productoInput>
                    <img [src]="productoSelected || 'assets/image.png'" class="img-fluid" width="200" (click)="productoInput.click()" style="margin-left: 100px;">
               </div>

               <br>
                <div style="text-align:center">
                    <button class="btn btn-success btn-sm" type="submit"> {{ update ? 'Actualizar' : 'Guardar'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>