<br>
<button class="btn btn-primary" routerLink="/productos">
    Volver
</button>
<div class="col-md-4 offset-md-4">
    <div class="card">
        <h3 style="text-align: center;">{{ update ? 'Editar' : 'Nuevo'}}</h3>
        <div class="card-body">
            <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
            <!-- <form> -->
                <div class="form-group">
                    <input name="sku" type="text" [(ngModel)]="producto.sku" placeholder="Sku" class="form-control" autofocus/>
                </div> <br>
                <div class="form-group">
                    <input type="text" name="nombre" [(ngModel)]="producto.nombre" placeholder="Nombre" class="form-control">
                </div>
                <br>
                <div class="form-group">
                    <input name="descripcion" [(ngModel)]="producto.descripcion" placeholder="Descripcion" class="form-control" />
                </div>
                <br>
                <div class="form-group">
                    <input name="precio" type="number" [(ngModel)]="producto.precio" placeholder="Precio" class="form-control" />
                </div>
                <br>
                <div class="form-group">
                    <input name="stock" type="number" [(ngModel)]="producto.stock" placeholder="Stock" class="form-control" />
                </div>

                <br>
               <div class="form-group">
                    <input type="file" class="d-none" (change)="onProductoSelected($event)" #productoInput>
                    <img [src]="productoSelected || 'assets/image.png'" class="img-fluid" width="200" (click)="productoInput.click()" style="margin-left: 100px;">
               </div>

               <br>
                <div style="text-align:center">
                    <button class="btn btn-success" type="submit"> {{ update ? 'Actualizar' : 'Guardar'}}</button>
                    <!-- <button class="btn btn-success" (click)="update ? updatePhoto() : createPhoto()">
                        {{ update ? 'Actualizar' : 'Guardar'}}
                    </button> -->
                </div>
            </form>
        </div>
    </div>
</div>